@{
    ViewBag.Title = "Meet Dr. Tekle";
}

<div class="wrapper">
    <!-- About Me Block -->
    <div class="container content-sm">
        <div class="row about-me">
                <div class="col-md-12 col-sm-12 short-info text-center g-sm-mb-50">
                    <img class="g-mb-20 rounded-x short-info__img" src="~/Images/team/DrLidiaTekle.jpg" alt="">
                    <div class="g-pr-10 g-pl-10 g-pb-40 equal-height-column">
                        <div class="center-block" style="padding-bottom: 20px;">
                            <h3>LIDIA TEKLE, D.D.S.</h3>
                            <span>Founder and Owner</span>
                            <ul class="social-icons social-icons-color">
                                <li><a target="_blank" href="https://www.facebook.com/lily.tekle.58" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                                @*<li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>*@
                            </ul>
                        </div>
                        <p style="font-size:16px; text-align:justify;">She is a dentist dedicated to serving the Washington Metropolitan Area. Dr. Tekle received her dental degree from Howard University and completed her residency 
                        in general practice at Tufts University.</p><br>
                        <p style="font-size:16px; text-align:justify;">Dr. Tekle is the owner and founder of Agape Dental Studio. Dr. Tekle is a member of the American Dental 
                        Association and the American General Dentist Association. Patients sees Dr. Tekle for a variety of reasons, including teeth whitening, dental check ups, 
                        broken teeth, and dental emergencies.</p><br>
                        <p style="font-size:16px; text-align:justify;">During her consultations, Dr. Tekle thoroughly explains patients’ conditions and helps them undrstand the treatment plan. 
                        She believes that listening to each patient and creating a partnership to maintain and improve lifelong health.</p><br>
                    </div>
                </div>
        </div>
        @*<div class="row about-me">
            <div class="col-sm-3 md-margin-bottom-40" style="padding-right: 30px;">
                <div class="box-shadow shadow-effect-2">
                    <img class="img-responsive rounded-x full-width" src="~/Images/team/DrLidiaTekle.jpg" alt="Dr. Lidia Tekle" />
                </div>
                <div class="overflow-h"> 
                    <div style="padding-bottom: 20px; text-align: center;">
                        <h3>LIDIA TEKLE, D.D.S.</h3>
                        <span>Founder and Owner</span>
                        <ul class="social-icons social-icons-color">
                            <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                            <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8" style="padding: 20px 0 20px 20px;">                
                <p style="font-size:16px; text-align:justify;">Dr. Lidia Tekle is a dentist serving the community of Washington, DC. Dr. Tekle attended Howard University, where she received her dental degree. She completed her residency in general practice at Tufts University.</p><br>
                <p style="font-size:16px; text-align:justify;">Dr. Tekle is owner and founder of Agape Dental Studio. She is a member of the American Dental Association and the American General Dentist Association. Patients see Dr. Tekle for a variety of reasons, including teeth whitening, dental follow ups, broken teeth, and dental emergencies.</p><br>
                <p style="font-size:16px; text-align:justify;">During her consultations, Dr. Tekle explains patients’ conditions and helps them choose an appropriate treatment plan. She believes in listening to each patient and creating a partnership to maintain and improve lifelong health.</p><br>
            </div>
        </div>*@
    </div>
    <!-- End About Me Block -->
    <!-- Parallax Quote -->
    @*<div class="parallax-quote parallax-quote-light parallaxBg">
            <div class="container">
                <div class="parallax-quote-in rounded">
                    <p>If you can design one thing <span class="color-green">you can design</span> everything. <br> Just Believe It.</p>
                    <small>- KATHY REYES -</small>
                </div>
            </div>
        </div>*@
    <!-- End Parallax Quote -->
</div>
