@{
    ViewBag.Title = "Our Philosophy";
}

<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-8 mb-margin-bottom-30">            
            <p style="padding-top:20px;">
                Agape Dental Studio is dedicated to providing professional dental services that exceed the expecation of our patients.
            </p>

            <h2>Your Dental Care</h2>
            <p>
                We strive to provide hight quality dental therapy through the use of modern technology, preventive education, and
                comprehensive treatment planning.  Our goal is to educate and motivate our patients to be a partner in their oral
                health maintenance so we can achieve the best results possible. We aim to promote excellent personalized attention
                and a comfortable professional environment that promotes confidence in the quality of our care.
            </p>
            <h2>Our Staff</h2>
            <p>
                Agape Dental Studio is dedicated to hiring people who are exceptional in their field and possess an amiable demeanor.
                Our staff is committed to the success of your oral health and will go above and beyond to provide you with a wonderful
                dental experience.  We are a group devoted to integrity, ingenuity, and compassion.
            </p>
            <h2> The Future of your care</h2>
            <p>
                As the dental industry grows so will Agape!  We will be updating your care by attending seminars that promote the latest
                technology and innovative treatments.
            </p>
        </div>
        <div style="padding-top: 50px;" class="col-sm-4 shadow-wrapper md-margin-bottom-40">
            <div class="box-shadow shadow-effect-2">
                <img class="img-responsive img-bordered full-width" src="~/Images/team/philosophy.jpg" alt="Our Philosophy" />
            </div>
        </div>
    </div>
</div>