@{
    ViewBag.Title = "Photo Gallery in our Arlington VA Columbia Pike dentist – General dentist Whitening, Cleaning and Extraction Arlington VA Columbia Pike";
}

<div class="container">
    <div style="padding-top: 50px;" class="col-sm-6 shadow-wrapper md-margin-bottom-40">
        <div class="box-shadow shadow-effect-2">
            <img class="img-responsive img-bordered full-width" src="~/Images/team/philosophy.jpg" alt="Our Philosophy" />
        </div>
    </div>

    <div style="padding-top: 50px;" class="col-sm-6 shadow-wrapper md-margin-bottom-40">
        <div class="box-shadow shadow-effect-2">
            <img class="img-responsive img-bordered full-width" src="~/Images/team/philosophy.jpg" alt="Our Philosophy" />
        </div>
    </div>

    <div style="padding-top: 50px;" class="col-sm-6 shadow-wrapper md-margin-bottom-40">
        <div class="box-shadow shadow-effect-2">
            <img class="img-responsive img-bordered full-width" src="~/Images/team/philosophy.jpg" alt="Our Philosophy" />
        </div>
    </div>

    <div style="padding-top: 50px;" class="col-sm-6 shadow-wrapper md-margin-bottom-40">
        <div class="box-shadow shadow-effect-2">
            <img class="img-responsive img-bordered full-width" src="~/Images/team/philosophy.jpg" alt="Our Philosophy" />
        </div>
    </div>
</div>